<script type="text/javascript">
  $(function() {
    var settings = {
      dateFormat: 'yy-mm-dd',
      timeFormat: 'hh:mm',
      stepMinute: 5,
    };
    $("#begin_date").datetimepicker(settings);
    $("#end_date").datetimepicker(settings);

    $("#problem_add_btn").click(function() {
      var len = $("#problem_rows tr").length;
      var target = $("#problem_rows tr:last");
      var nid = len + 1;
      target.clone().insertAfter(target).attr('id', 'problem_'+nid);
      $('#problem_'+nid+' td:nth-child(1)>input').attr('id', 'problem_id_'+nid);
      $('#problem_'+nid+' td:nth-child(2)>span').attr('id', 'problem_name_'+nid);
      $('#problem_'+nid+' td:nth-child(3)>input').attr('id', 'problem_score_'+nid);
    });

    $("#problem_remove_btn").click(function() {
      var len = $("#problem_rows tr").length;
      if (len>1) {
        $("#problem_rows tr:last").remove();
      }
    });

  });
</script>

<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= label_tag :begin_date %>
  <input type="text" id="begin_date" name="begin_date" value="<%= if @contest.begin_date then @contest.begin_date.strftime('%Y-%m-%d %H:%M') end %>" />
  <%= label_tag :end_date %>
  <input type="text" id="end_date" name="end_date" value="<%= if @contest.end_date then @contest.end_date.strftime('%Y-%m-%d %H:%M') end %>"  />

  <%= label_tag :problems %>
  <div class="row">
    <table class="table span6">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody id="problem_rows">
        <% for i in 1..4 %>
          <tr id="problem_<%= i %>">
            <td><input type="text" id="problem_id_<%= i %>" class="span1" name="problem_id_<%= i %>" /></td>
            <td><span class="span4" id="problem_name_<%= i %>"><% for j in 1..20 %>&nbsp;<% end %></span></td>
            <td><input type="text" id="problem_score_<%= i %>" class="span1" name="problem_score_<%= i %>" /></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <input type="button" id="problem_add_btn" class="btn" name="Add" value="Add" />
  <input type="button" id="problem_remove_btn" class="btn" name="Remove" value="Remove" />

  <br />
  <br />
  <br />
  <%= f.submit class: "btn" %>
<% end %>
