<script type="text/javascript">
  $(function() {
      $("#user_aoj_id").change(function() {
        $.get(
          '<%= ajax_valid_aoj_id_path %>',
          {aoj_id: $("#user_aoj_id").val()},
          function(data) {
            if (data['status']=='ok') {
              $("#user_aoj_id_block").attr("class", "control-group success");
              $("#user_aoj_id_block span.help-inline").text("OK");
            } else {
              $("#user_aoj_id_block").attr("class", "control-group error");
              $("#user_aoj_id_block span.help-inline").text("NG");
            }
          });
      });
  });
</script>

<%= form_for @user, :html=>{:class=>'well'} do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <div id="user_aoj_id_block" class="control-group">
    <%= f.label :aoj_id, 'AOJ ID' %>
    <%= f.text_field :aoj_id %><span class="help-inline"></span>
  </div>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br />
  <%= f.submit :class=>'btn' %>
<% end %>
